$background-color: black;
$text-color: white;
$google-blue : #4285f4;
$google-blue-dark : #357ae8;


@mixin transition{
    transition: all 0.2s ease-in-out;
}
.form-button{
    @include transition();
    background-color: $background-color;
    color: $text-color;
    border: 2px solid $background-color;
    padding: 1rem;
    margin: 0.5rem;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;    

    &:hover{
        @include transition();
        background-color: $text-color;
        color: $background-color;
    }
    &.google-sign-in { 
        background-color: $google-blue;
        border: 2px solid $google-blue;
        color: white;
        &:hover {
            background-color: darken($google-blue-dark,10);
            border: 2px solid darken($google-blue-dark,10);
        }
    }
   
}
