.header{
    height: 70px;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    .logo-container{
        height: 100%;
        width: 70px;
        padding: 1rem;
    }
    .options{
        width: 50%;
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        .option{
            padding: 1rem;
        }
        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: darken($color: #534c92, $amount: 1);
            }
        }
    }
}
